/* dependencies */
@import "@fortawesome/fontawesome-free/css/all.css";
// @import "~bootstrap/scss/bootstrap";

/* local imports */
@import "./styles/variables";
@import "./styles/fonts";
@import "./styles/base";

header {
  background-color: darkcyan;
}

a {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
